@font-face {
    font-family: 'Futura Cyrillic';
    src: url('FuturaCyrillic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Cyrillic';
    src: url('FuturaCyrillicBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Cyrillic';
    src: url('FuturaCyrillicMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:"Futura Cyrillic" ;
    margin: 0;
    background-color: #F9F8F8;
}


/* header */

.site-header {
}

.header-top {
background-color:#F9F8F8 ;
}
.container{
    width: 1310px;
    margin: 0 auto;
}
.top{
    display: flex;
    padding-bottom: 12px;
    padding-top: 11px;
    
    
}
.house-img {
    margin-right: 5px;
}
.house-text {
    display: inline-block;
color: #333333;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
transition: all 0.3s;
}
.house-text:hover{
    color: #FFBD54;
}
.house-text:active{
    color: gray;
}
.top-wrapper-0{
margin-left: 225px;
}
.top-wrapper-1 {
    margin-left: 70px;
    display: flex;
    align-items: center;
}
.top-wrapper-1>a{
color: #333333;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
transition: all 0.3s;
}
.top-wrapper-1>a:hover{
    color: #FFBD54;
}
.top-wrapper-1>a:active{
    color: gray;
}
.top-wrapper-1>img{
    margin-right: 5px;
}
.top-wrapper-1>span{
    width: 4px;
    height: 4px;
    display: inline-block;
   border-radius: 50%;
    background-color: #FFBD54;
    margin-left: 6px;
    margin-right: 6px
}
.top-wrapper-2 {
    display: flex;
    margin-left: 70px;
}
.top-wrapper-2>img{
    margin-right: 6px;
}
.top-wrapper-2>p{
    color: #333333;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
transition: all 0.3s;
}
.top-wrapper-2>p:hover{
    color: #FFBD54;
}
.top-wrapper-2>p:active{
    color: gray;
}
.schedule-text-1 {
color: #333333;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
margin-right: 10px;
transition: all 0.3s;
}
 .schedule-text-1:hover{
    color: #FFBD54;
 }
.schedule-text-1:active{
    color: gray;
}
.header-bottom{
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}
.site-logo{
    position: absolute;
   top: -20px;
    padding-left: 60px;
    transition: all 0.3s;
}
.site-logo:hover{
opacity: 70%;
}
.site-logo:active{
    opacity: 50%;
}
.container {
}
.bottom{
    display: flex;
    align-items: center;
}
.fish-img{
    padding-left: 310px;
    margin-right: 12px;
    padding-top: 9px;
}
.navbar{
display: flex;
gap: 50px;
margin-right: 100px;
}
.logo-link {
    
}
.site-logo {
}
.navbar-link {
color: #333333;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 10px;
transition: all 0.3s;
}
.navbar-link:hover{
    border-bottom: 2px solid yellow;
    
}
.navbar-link:active{
    opacity: 60%;
}
.header-btn{
color: #333333;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
border: none;
background-color: transparent;
margin-left: 4px;
transition: all 0.3s;
padding-top: 8px;
}
.header-btn:hover{
    border-bottom: 2px solid yellow;
}
.header-btn:active{
    opacity: 60%;
}
.panja-img{
    padding-top: 8px;
}

/* hero */

.hero-section {
    padding-bottom: 300px;
    padding-top: 145px;
    background-image: url(../images/hero-bg-group.png),url(../images/hero-bg-parrot.png);
    background-repeat: no-repeat;
    background-position:calc(50% - 450px) calc(-100px),calc(1090px) calc(400px)
}
.container {
}
.hero-wrapper{
    width: 560px;
    padding-left: 680px;
  
}
.hero-title {
color: #333333;
font-weight: 700;
font-size: 70px;
line-height: 64px;
letter-spacing: 0%;
margin-bottom: 29px;
}
.hero-title>span{
    color: #78C0DE;
}
.hero-text {
color: #949494;
font-weight: 400;
font-size: 16px;
line-height: 21px;
letter-spacing: 0%;
margin-bottom: 38px;
}
.hero-btn {
color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
padding: 15px 47px;
border: none;
background-color: #333333;
border-radius: 3px;
transition: all 0.3s;
}
.hero-btn:hover{
    background-color: #FFBD54;
    color: black;
}
.hero-btn:active{
    opacity: 60%;
}

/* text */

.text-section {
    padding-bottom: 100px;
}
.container {
}
.text{
    background-image: url(../images/boritirnoq.png) , url(../images/boritirnoq-2.png);
    background-repeat: no-repeat;
    background-position:calc(190px) calc(40px) , calc(1070px) calc(108px);
}
.text-wrapper {
   width: 800px;
   margin: 0 auto;
   padding-top: 20px;
}
.text-wrapper>span{
    display: inline-block;
    width: 140px;
    height: 2px;
    background-color: #DBDBDB;
    margin-left: 350px;
    
}
.text-1 {
color: #949494;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding-top: 40px;
padding-bottom: 37px;

}

.text-2 {
color: #333333;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 225px;
margin-top: 35px;

}

/* usluga */

.usluga-section {
    padding-top: 90px;
}
.container {
}
.usluga-title {
color: #333333;
font-weight: 700;
font-size: 48px;
line-height: 54px;
letter-spacing: 0%;
vertical-align: middle;
text-align: center;
margin-bottom: 80px;
}
.usluga-list {
    display: flex;
    gap: 13px;
    padding-left: 40px;
    align-items: center;
    margin-bottom: 14px;
}
.item {
    width: 180px;
    height: 201px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    border-radius: 2px;
}
.item:hover{
    opacity: 70%;
}
.item:active{
    opacity: 50%;
}
.item>p{
color: #333333;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
margin-top: 21px;

}
.item>img{
margin-top: 30px;
margin: 0 auto;
padding-top: 30px;
}
.arrow-img{
    padding: 10px;
    transition: all 0.3s;
}
.arrow-img:hover{
background-color: white;
}
.arrow-img:active{
    opacity: 50%;
}
.arrow-img-2{
    padding: 10px;
    transition: all 0.3s;
}
.arrow-img-2:hover{
background-color: white;
}
.arrow-img-2:active{
    opacity: 50%;
}

.usluga-wrapper {
    display: flex;
    gap: 50px;
    margin-left: 87px;
    margin-right: 75px;
    padding: 42px 0;
    padding-left: 35px;
    padding-right: 10px;
    background-color: white;
    border-radius: 2px;
    align-items: center;
    margin-bottom: 127px;
}


.title-wrapper-usluga {
    width: 500px;

}
.usluga-subtitle {
color: #333333;
font-weight: 500;
font-size: 36px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;
margin-bottom: 18px;
}
.subtext-1 {
color: #949494;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
margin-bottom: 9px;
}
.subtext-2 {
color: #949494;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
margin-bottom: 34px;
}
.btn-1 {
color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
padding: 15px 0;
padding-right:30px ;
background-color: #FFBD54;
border: none;
border-radius: 3px;
padding-left: 55px;
margin-right: 15px;
transition: all 0.3s;
}
.btn-1>img{
    vertical-align: middle;
}
.btn-1:hover{
    background-color:#333333;
    color: #FFBD54;
}
.btn-1:active{
    opacity: 50%;
}
.btn-2 {
color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
padding: 15px 0;
padding-right: 30px;
background-color: #333333;
border: none;
border-radius: 3px;
padding-left: 55px;
transition: all 0.3s;
}
.btn-2>img{
    vertical-align: middle;
}
.btn-2:hover{
    background-color:#FFBD54;
    
}
.btn-2:active{
    opacity: 50%;
}

/* dog */

.dog-section{
    width: 100%;
    height: 470px;
    background-image: url(../images/bg-dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.container{
   
}
.dog-title{
 padding-top: 210px;
 padding-left: 230px;
color: white;
font-weight: 700;
font-size: 48px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;

}
.dog-form {
    display: flex;
    align-items: center;
    padding-top: 45px;
    margin-left: 230px;
    
}
.dog-input {
    padding: 15px 0;
    padding-left: 22px;
    padding-right: 10px;
    width: 300px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    outline: none;
}
.dog-input:focus{
    box-shadow: 0 0 2px 2px #FFBD54;
}
.dog-btn {
    padding: 14.5px 47px;
    color:white ;
font-weight: 500;
font-size: 16px;
border: none;
border-radius: 3px;
line-height: 100%;
letter-spacing: 0%;
background-color: #333333;
}

/* service */

.service-section {
    padding-bottom: 250px;
}
.container {
}
.service{
    display: flex;
    gap: 16px;
}
.service-title {
    text-align: center;
    color: #333333;
font-weight: 700;
font-size: 48px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;
margin-top: 150px;
margin-bottom: 80px;
}
.service-wrapper-1 {
    width: 280px;
    background-color: white;
    border-radius: 1px;
    
    transition: all 0.3s;
}
.ibso{
margin-left: 40px;
}
.service-wrapper-1:hover{
    box-shadow: 1px 1px 2px 2px gray;
}
.date-text {
    color: #949494;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: end;
margin-top: 20px;
margin-right: 20px;
}
.service-subtitle {
color: black;
font-weight: 700;
font-size: 22px;
line-height: 25px;
letter-spacing: 0%;
padding-left: 25px;
margin-bottom: 10px;
}
.subtext {
color: #949494;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
padding-left: 25px;
padding-right: 20px;
margin-bottom: 34px;
}
.service-btn {
color: #333333;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 25px;
padding-bottom: 35px;
background-color: transparent;
border: none;
display: flex;
gap: 5px;
transition: all 0.3s;
}
.service-btn:hover{
    color: #FFBD54;
}

.service-wrapper-2 {
    display: flex;
    width: 640px;
    margin-left: 1px;
    background-color: white;
}
.service-wrapper-2:hover{
    box-shadow: 1px 1px 2px 2px gray;
}
.service-wrapper-2>img{
    margin-right: 30px;

}
.service-link {
color: #3D9CEA;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
margin-top: 40px;
margin-left: 7px;
}
.date-text-2 {
color: #949494;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
display: inline-block;
margin-left: 80px;
margin-top: 40px;
}
.service-subtitle-2 {
color: #333333;
font-weight: 700;
font-size: 26px;
line-height: 29px;
letter-spacing: 0%;
margin-top: 32px;
margin-bottom: 20px;
}
.service-subtext {
color:#949494;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
margin-bottom: 39px;
}
.service-btn-2 {
color: #333333;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
display: flex;
background-color: transparent;
border: none;
gap: 5px;
transition: all 0.3s;
}
.service-btn-2:hover{
    color: #FFBD54;
}
.service-btn-2:active{
    color: #333333;
}
.service-btn:active{
    color: #333333;
}


/* map */
.map-section{
    
    height: 600px;
    background-color: #333333;
    background-image: url(../images/map-bg.png);
    background-repeat: no-repeat;
    background-position: calc(390px) calc(-20px);
    display: flex;
    margin-bottom: 240px;
}

iframe{
    width: 28vw;
    height:600px;
}
.map-title{
color: white;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 60px;
margin-bottom: 14px;
}
.map-text{
color: #949494;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
margin-bottom: 29px;
}
.title-wrapper{
    width: 370px;
    margin-left: 150px;
}

.map-form {
    display: flex;
    flex-direction: column;
    width: 360px;
}
.map-input {
    padding-bottom: 13px;
    padding-top: 15px;
    padding-left: 22px;
    margin-bottom: 14px;
    outline: none;
    border: none;
    transition: all 0.3s;
}
.map-input:focus{
    box-shadow: 0 0 2px 2px sandybrown;
}
.map-input-savol {
    padding-left: 22px;
    padding-top: 15px;
    padding-bottom: 100px;
    margin-bottom: 30px;
    border: none;
    outline: none;
}
.map-input-savol:focus{
    box-shadow: 0 0 2px 2px sandybrown;
}
.map-btn {
    width: 220px;
    padding: 15px 0;
    background-color: #FFBD54;
    border: none;
    color: white;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}

/* footer */

.site-footer {
    /* display: flex; */
    
    padding-top: 52px;
    background-color: #F3F3F3;
    border: 1px solid #EBEBEB
}
.footer{
    display: flex;
}
.footer-logo{
    margin-left: 50px;
    transition: all 0.3s;
}
.footer-logo:hover{
    opacity: 70%;
}
.footer-logo:active{
    opacity: 50%;
}
.footer-list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-link {
color: #333333;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
transition: all 0.3s;
}
.footer-link:hover{
    color: #FFBD54;
}
.footer-link:active{
    color: gray;
}
.wrapper-ft {
    display: flex;
    gap: 9px;
    padding-left: 60px;
}
.wrapper-in-ft {
    display: flex;
    flex-direction: column;
    width: 140px;
    gap: 3px;
}
.ft-text {
color: #333333;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
transition: all 0.3s;
}
.ft-text:hover{
    color: #FFBD54;
}
.ft-text:active{
    color: gray;
}
.wrapper-ft-1{
    display: flex;
    gap: 9px;
    margin-left: 100px;
}
.text-ft{
color: #5C5C5C;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
vertical-align: middle;
margin-right: 85px;
margin-top: 50px;
padding-bottom: 23px;

}